<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> exist</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li class="alert-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form_group">
    <%= form.label :year %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :abstract %>
    <%= form.text_area :abstract, class: "form-control" %>
  </div>

  <div class="field form_group">
    <%= form.label :status %>
    <%= form.select :status ,["todo", "doing", "done"] ,{} , class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Add Movie Lists", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
