<p id="notice" class="alert-success"><%= notice %></p>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table">
      <thead>
      <tr>
        <th>Year</th>
        <th>Title</th>
        <th>Abstract</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @movie.year %></td>
        <td><%= @movie.title %></td>
        <td><%= @movie.abstract %></td>
        <td><%= @movie.status %></td>
      </tr>
      </tbody>
    </table>
    <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-secondary mb-3" %>
    <%= link_to 'Back', movies_path, class: "btn btn-success mb-3" %>
  </div>
  <div class="col-2"></div>
</div>


