<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table">
      <thead>
      <tr>
        <th>Year</th>
        <th>Title</th>
        <th>Abstract</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @comic.year %></td>
        <td><%= @comic.title %></td>
        <td><%= @comic.abstract %></td>
        <td><%= @comic.status %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>

