<%= search_form_for @q do |f| %>
  <%= f.label :title_or_platform_or_status, "キーワード検索" %>
  <%= f.search_field :title_or_platform_or_status_cont %>

  <%= f.submit "検索" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title, "Title") %></th>
      <th><%= sort_link(@q, :platform, "Platform") %></th>
      <th><%= sort_link(@q, :status, "Status") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.platform %></td>
        <td><%= game.status %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
